<header>
    <img width="40px" height="40px" src="/img/icone.svg" alt="">
    <nav>
        <a href="">INICIO</a></li>
        <a href="">PERGUNTAS</a></li>
        <a href="">SOBRE</a></li>
    </nav>
</header>