<header>
    <a href="/"><img width="40px" height="40px" src="/img/icone.svg" alt=""></a>
    <nav>
        <a href="/">INICIO</a></li>
        <a href="/perguntas">PERGUNTAS</a></li>
    </nav>
</header>