* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eceff1;
}

header {
    width: 100%;
    top: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 500px;
    background-color: #fff;
    position: fixed;
}

nav {
    display: flex;
    gap: 10%;
}

footer {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    margin-top: 15vh;
}